<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sequence</key>
	<array>
		<string>outline_1</string>
	</array>
	<key>passes</key>
	<dict>
		<key>outline_1</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>program</key>
			<string>art.scnassets/shaders/outline_1</string>
			<key>inputs</key>
			<dict>
				<key>colorSampler</key>
				<string>COLOR</string>
				<key>a_position</key>
				<string>a_position-symbol</string>
				<key>depth</key>
				<string>DEPTH</string>
				<key>size</key>
				<string>size_screen</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
		</dict>
	</dict>
	<key>symbols</key>
	<dict>
		<key>u_time-symbol</key>
		<dict>
			<key>semantic</key>
			<string>time</string>
		</dict>
		<key>size_screen</key>
		<dict>
			<key>type</key>
			<string>vec2</string>
		</dict>
		<key>a_position-symbol</key>
		<dict>
			<key>semantic</key>
			<string>vertex</string>
		</dict>
	</dict>
</dict>
</plist>
